<div class="dropdown d-inline time-filter">
    <button class="btn btn-light dropdown-toggle border" id="categoryDropdownButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Time</button>
    <div class="dropdown-menu dropdown-menu-right p-2 ml-2" aria-labelledby="categoryDropdownButton">
        <div class="row datetime-picker-holder">
            <div class="col-md-3 date-picker">
                <div>Start date:</div>
                <input type="date">
            </div>
            <div class="col-md-3 time-picker">
                <div>Start time:</div>
                <input type="time">
            </div>
            <div class="col-md-3 date-picker">
                <div>End date:</div>
                <input type="date">
            </div>
            <div class="col-md-3 time-picker">
                <div>End time:</div>
                <input type="time">
            </div>
        </div>

        <div class="row timebase-timezone-holder mb-3">
            <div class="col-md-6 d-flex timebase">
                <span>Weekday:</span>
                <select class="flex-grow-1">
                    <option value="any" selected>Any</option>
                    <option value="mon">Monday</option>
                    <option value="tue">Tuesday</option>
                    <option value="wed">Wednesday</option>
                    <option value="thu">Thursday</option>
                    <option value="fri">Friday</option>
                    <option value="sat">Saturday</option>
                    <option value="sun">Sunday</option>
                </select>
            </div>
            <div class="col-md-6 d-flex timezone">
                <span>Period:</span>
                <select class="flex-grow-1">
                    <option value="any" selected>Any</option>
                    <option value="mor">Morning</option>
                    <option value="aft">Afternoon</option>
                    <option value="eve">Evening</option>
                    <option value="nig">Night</option>
                </select>
            </div>
        </div>

        <div class="row timebase-timezone-holder">
            <div class="col-md-6 d-flex timebase">
                <span>Time base:</span>
                <select class="flex-grow-1">
                    <option value="local">Local Time</option>
                    <option value="utc" selected>UTC Time</option>
                </select>
            </div>
            <div class="col-md-6 d-flex timezone">
                <span>Time zone:</span>
                <select class="flex-grow-1">
                    <option value="shanghai">Asia/Shanghai</option>
                    <option value="berlin">Europe/Berlin</option>
                    <option value="dublin" selected>Europe/Dublin</option>
                    <option value="istanbul">Europe/Istanbul</option>
                    <option value="london">Europe/London</option>
                </select>
            </div>
        </div>
    </div>
</div>