<!-- Footer -->
<footer class="row mx-0 my-2">
    <!-- Import/Export -->
    {{!-- <div class="col-md-5 import-export">
        <div class="import d-flex pr-2">
            <img class="flex-grow-1" src="./img/icon_import.png" alt="import">
            <a>Import</a>
        </div>
        <div class="export d-flex">
            <img class="flex-grow-1" src="./img/icon_export.png" alt="export">
            <a>Export</a>
        </div>
        <input type="file" accept="text/plain">
    </div> --}}
    <div class="col-md-6 footer-inner-holder" id="submit-btn">
        <i class="fa fa-paper-plane pr-2"></i>
        <span>Submit</span>
    </div>

    {{!-- <div class="col-md-2 footer-inner-holder swap">
        <i class="fa fa-exchange fa-rotate-90 pr-2"></i>
    </div> --}}

    <div class="col-md-6 footer-inner-holder timer-holder justify-content-end">
        <i class="fa fa-play pr-2"></i>
        <input id='countdown-timer'>
        <i class="fa fa-redo-alt pl-2"></i>
    </div>
</footer>