<!-- Footer -->
<footer class="row mx-0 my-2">
    <!-- Import/Export -->
    <div class="col-md-6 import-export">
        <div class="import d-flex pr-2">
            <img class="flex-grow-1" src="./img/icon_import.png" alt="import">
            <a>Import</a>
        </div>
        <div class="export d-flex pl-2">
            <img class="flex-grow-1" src="./img/icon_export.png" alt="export">
            <a>Export</a>
        </div>
    </div>

    <div class="col-md-6 import-export timer-holder justify-content-end">
        <i class="fa fa-play pr-2"></i>
        <input id='countdown-timer'>
        <i class="fa fa-redo-alt pl-2"></i>
    </div>
</footer>