<header class="row m-0">
    <!-- Logo -->
    <img class="col-md-1 p-0 logo" src="./img/logo_placeholder.png" alt="logo">
    <!-- Search bar -->
    <div class="search-bar col-md-11 d-flex">
        <input class="border-0 col-md-12 flex-shrink-1" type="text" placeholder="Enter your query ...">
        <input type="file" accept="image/jpeg" name="sample">
        <i class="fa fa-camera"></i>
        <i class="fa fa-search px-4"></i>
    </div>
</header>