<!-- Sidebar -->
<div id="sidebar-wrapper">
    <div class="btn-toggle"><i class="fa fa-caret-left"></i></div>
    <div class="sidebar-brand">Taxonomy</div>
    <ul class="sidebar-nav">
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i> </a> </li>
        <li><a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a>
            <div class="child-wrapper">
                <ul>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a>
                        <div class="child-wrapper">
                            <ul>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a>
                                    <div class="child-wrapper">
                                        <ul>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                            <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                                        </ul>
                                    </div>
                                </li>
                                <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                            </ul>
                        </div>
                    </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                </ul>
            </div>
        </li>
        <li>
            <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a>
            <div class="child-wrapper">
                <ul>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                    <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
                </ul>
            </div>
        </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a></li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
        <li> <a href="#"><span>Dashboard</span> <i class="fa fa-hand-point-left"></i> <i class="fa fa-plus"></i> <i class="fa fa-times"></i></a> </li>
    </ul>
</div> <!-- /#sidebar-wrapper -->