<div class="container-fluid d-flex flex-column">
    {{>header}}
    <!-- Filters dropdown -->

    <!-- Tags -->
    {{!-- <div class="tag"></div> --}}

    <!-- Horizontal line -->
    {{!-- <div class="horizontal-line mt-0 mb-2 bg-secondary"></div> --}}

    <div class="row result-and-checkbox">
        <!-- img display -->
        <div class="col-md-9 d-flex flex-column">
            <!-- Tags -->
            <div id="tag-holder"></div>

            {{!-- <div class="row flex-row flex-nowrap result-holder"> --}}
            <div class="result-holder">
            </div>

        </div>

        {{!-- <div class="vertical-line mx-1 bg-secondary"></div> --}}

        <div class="col-md-3 checkbox-filter-holder">
            <div class="checkbox-filter-holder-inner row">
                <div class="checkbox-filter-holder-left col-md-6 d-flex flex-column">
                    <div class="font-weight-bold w-100 d-flex">
                        <span>Objects</span>
                        <input type="text" class="filter-search w-100 flex-grow ml-2" placeholder="Search...">
                    </div>
                    <div class="horizontal-line mt-0 mb-2 bg-secondary"></div>
                    <div class="value-holder" id="object-value-holder">
                    </div>
                </div>

                <div class="checkbox-filter-holder-right col-md-6  d-flex flex-column">
                    <div class="font-weight-bold w-100 d-flex">
                        <span>Attributes</span>
                        <input type="text" class="filter-search w-100 flex-grow ml-2" placeholder="Search...">
                    </div>
                    <div class="horizontal-line mt-0 mb-2 bg-secondary"></div>
                    <div class="value-holder" id="attribute-value-holder">
                    </div>
                </div>
            </div>

            <div class="checkbox-filter-holder-inner row">
                <div class="checkbox-filter-holder-left col-md-6  d-flex flex-column">
                    <div class="place-holder">
                        <div class="font-weight-bold w-100 d-flex">
                            <span>Places</span>
                            <input type="text" class="filter-search w-100 flex-grow ml-2" placeholder="Search...">
                        </div>
                        <div class="horizontal-line mt-0 mb-2 bg-secondary"></div>
                        <div class="value-holder" id="place-value-holder">
                        </div>
                    </div>
                    <div class="text-holder">
                        <div class="font-weight-bold">OCR</div>
                        <div class="horizontal-line mt-0 mb-2 bg-secondary"></div>
                        {{!-- <div class="value-holder" id="place-value-holder">
                        </div> --}}
                        <input type="text" id='text-filter-input' placeholder="Enter text...">

                        <div class="horizontal-line mt-2 mb-2 bg-secondary"></div>

                        <div class="value-holder" id="text-value-holder">

                        </div>
                    </div>
                </div>

                <div class="checkbox-filter-holder-right col-md-6">
                    <div class="font-weight-bold">Time</div>
                    <div class="horizontal-line mt-0 mb-2 bg-secondary"></div>
                    <div class="checkbox-time-filter">
                        {{!-- <div class="checkbox-time-filter-inner">
                            <span>Weekday:</span>
                            <div class="checkbox-time-filter-value-holder">
                                <div>
                                    <input type="checkbox" value="mon" id="weekday-mon" data-tag-name="Monday">
                                    <label for="weekday-mon">Monday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="tue" id="weekday-tue" data-tag-name="Tuesday">
                                    <label for="weekday-tue">Tuesday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="wed" id="weekday-wed" data-tag-name="Wednesday">
                                    <label for="weekday-wed">Wednesday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="thu" id="weekday-thu" data-tag-name="Thursday">
                                    <label for="weekday-thu">Thursday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="fri" id="weekday-fri" data-tag-name="Friday">
                                    <label for="weekday-fri">Friday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="sat" id="weekday-sat" data-tag-name="Saturday">
                                    <label for="weekday-sat">Saturday</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="sun" id="weekday-sun" data-tag-name="Sunday">
                                    <label for="weekday-sun">Sunday</label>
                                </div>
                            </div>
                        </div> --}}
                        {{!-- <div class="checkbox-time-filter-inner">
                            <span>Period:</span>
                            <div class="checkbox-time-filter-value-holder">
                                <div>
                                    <input type="checkbox" value="mor" id="period-mor" data-tag-name="Saturday">
                                    <label for="period-mor">Morning</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="aft" id="period-aft" data-tag-name="Afternoon">
                                    <label for="period-aft">Afternoon</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="eve" id="period-eve" data-tag-name="Evening">
                                    <label for="period-eve">Evening</label>
                                </div>
                                <div>
                                    <input type="checkbox" value="nig" id="period-nig" data-tag-name="Night">
                                    <label for="period-nig">Night</label>
                                </div>
                            </div>
                        </div> --}}
                        <div class="checkbox-time-filter-inner flex-column">
                            <div class="date-select-picker d-flex flex-row" id="day-picker">
                                <div class="mr-2">Day:</div>
                                <select class="flex-grow-1" data-tag-id="day">
                                    <option value="any" selected>Any</option>
                                    <option value="monday">Monday</option>
                                    <option value="tuesday">Tuesday</option>
                                    <option value="wednesday">Wednesday</option>
                                    <option value="thursday">Thursday</option>
                                    <option value="friday">Friday</option>
                                    <option value="saturday">Saturday</option>
                                    <option value="sunday">Sunday</option>
                                </select>
                            </div>
                            <div class="date-select-picker d-flex flex-row" id="month-picker">
                                <div class="mr-2">Month:</div>
                                <select class="flex-grow-1" data-tag-id="month">
                                    <option value="any" selected>Any</option>
                                    <option value="1">January</option>
                                    <option value="2">February</option>
                                    <option value="3">March</option>
                                    <option value="4">April</option>
                                    <option value="5">May</option>
                                    <option value="6">June</option>
                                    <option value="7">July</option>
                                    <option value="8">August</option>
                                    <option value="9">September</option>
                                    <option value="10">October</option>
                                    <option value="11">November</option>
                                    <option value="12">December</option>
                                </select>
                            </div>
                            <div class="date-select-picker d-flex flex-row" id="year-picker">
                                <div class="mr-2">Year:</div>
                                <select class="flex-grow-1" data-tag-id="year">
                                    <option value="any" selected>Any</option>
                                    <option value="2015">2015</option>
                                    <option value="2016">2016</option>
                                    <option value="2018">2018</option>
                                </select>
                            </div>
                        </div>
                        <div class="checkbox-time-filter-inner flex-column">
                            <div class="time-picker d-flex flex-column" id="start-time-picker">
                                <div>Start time:</div>
                                <input type="time" data-tag-id="start-time">
                            </div>
                            <div class="time-picker d-flex flex-column" id="end-time-picker">
                                <div>End time:</div>
                                <input type="time" data-tag-id="end-time">
                            </div>
                        </div>
                        <div class="checkbox-time-filter-inner flex-column">
                            <div class="date-picker d-flex flex-column" id="start-date-picker">
                                <div>Start date:</div>
                                <input type="date" data-tag-id="start-date">
                            </div>
                            <div class="date-picker d-flex flex-column" id="end-date-picker">
                                <div>End date:</div>
                                <input type="date" data-tag-id="end-date">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="horizontal-line mt-2 bg-secondary"></div>

            <div id="apply-filter-btn">
                <a href="#">Apply</a>
            </div>
        </div>
    </div>

    <div class="modal fade" id="result-detail-modal">
        <div class="modal-dialog modal-xl">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Result Detail</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                </div>

                <!-- Modal body -->
                <div class="modal-body d-flex flex-column">
                    <div class="row" id="result-detail-holder">
                        <div class="col-md-6">

                        </div>
                        <div class="col-md-6">
                            {{!-- Metadata --}}
                        </div>
                    </div>
                    <div class="horizontal-line mt-2 bg-secondary"></div>
                    <div class="font-weight-bold text-center w-100">Images of Cluster</div>
                    <div class="horizontal-line mb-2 bg-secondary"></div>
                    <div class="row overflow-auto d-flex flex-row flex-nowrap" id="cluster-holder">
                        <div class="text-center w-100">Loading Cluster...</div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="modal-submit-btn">Submit</button>
                </div>
            </div>
        </div>
    </div>

    {{!-- <!-- Horizontal line -->
    <div class="horizontal-line my-1 bg-secondary"></div>

    <!-- img display -->
    <div class="row flex-row btn-secondaryflex-nowrap result-holder deleted-result-holder"></div> --}}

</div>