html,
body,
#wrapper,
#page-content-wrapper,
.container-fluid {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}


/* Header */

header {
    height: 70px;
}

header .logo {
    height: 100%;
}

.search-bar {
    border-style: solid;
    border-width: 1px;
    color: #7e7e7e;
}

.search-bar i {
    height: 100%;
    font-size: 2em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar input {
    font-size: x-large;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}


/* Filters */

.filter-holder>div>button {
    width: 18%;
    text-align: start;
}

.filter-holder .dropdown-menu {
    width: 50em;
}

.filter-holder .search-bar input,
.filter-holder .search-bar::after {
    font-size: 1em;
}

.dictionary>span {
    margin-right: 8px;
    cursor: pointer;
}

.all-data span {
    margin-right: 12px;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
}

.datetime-picker-holder {
    margin-bottom: 16px;
}

.date-picker>div,
.time-picker>div {
    margin-bottom: 8px;
}

.date-picker>input,
.time-picker>input {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
}

.date-picker>input {
    background: url('../img/icon_calendar.png') no-repeat 6px 6px;
    padding-left: 28px;
}

.time-picker>input {
    background: url('../img/icon_alarm.png') no-repeat 6px 6px;
    padding-left: 28px;
}

.timebase>span,
.timezone>span {
    padding-right: 8px;
}

.timebase>select,
.timezone>select {
    background-color: transparent;
    border-radius: 3px;
    border-color: #7e7e7e;
}

.dropdown-custom>button {
    background-color: transparent;
    padding: 4px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    text-align: left;
}

.dropdown-custom>button::after {
    font-family: "FontAwesome";
    content: "\f0d7";
}

.dropdown-content>input {
    box-sizing: border-box;
    background-color: white;
    background-position: 14px 12px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}

.dropdown-content>input:focus {
    outline: 3px solid #ddd;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    width: 100%;
    display: block;
}

.dropdown-custom a:hover {
    background-color: #ddd;
}

.extradata-holder>div>span {
    width: 150px;
}


/* Tags */

.tag {
    padding: 4px 0;
}

.tag>span {
    padding: 4px;
    margin-right: 4px;
    margin-bottom: 4px;
    display: inline-block;
}

.tag>span>i {
    padding-left: 8px;
    cursor: pointer;
}

.horizontal-line {
    height: 1px;
    color: #7e7e7e;
}


/* Results */

.result-holder {
    margin-left: -2px;
    margin-right: -2px;
    flex: 1;
    overflow: auto;
}

.result-holder>div>div,
.result-holder>div>img {
    height: 100%;
}

.result-holder>div {
    padding: 2px;
}

.result-holder .action-button {
    margin: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.result-holder .action-button::before {
    font-family: "FontAwesome";
    content: "\f00c";
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border-color: #7e7e7e;
}

.result-holder img {
    width: 100%;
    height: auto;
}


/* Footer */

footer {
    align-items: center;
}

.import-export img,
.import-export a {
    display: inline-flex;
}

.import-export img {
    width: 28px;
    height: 36px;
}

.import-export>div {
    cursor: pointer;
}

.import-export a {
    color: black;
    text-decoration: none;
    align-items: center;
    padding-left: 4px;
}

.import-export {
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 0;
}

.timer-holder i {
    cursor: pointer;
    font-size: 20px;
}

#countdown-timer {
    text-align: center;
}


/* Custom */

.custom-selected {
    font-weight: bold;
    font-size: 20px;
}

.custom-show {
    display: block !important;
}

.custom-hidden {
    display: none !important;
}


/* Sidebar */

body {
    overflow-x: hidden;
}

#wrapper {
    padding-left: 0;
    transition: all 0.5s ease;
}

#wrapper.toggled {
    padding-right: 300px;
}

#sidebar-wrapper {
    z-index: 1000;
    position: fixed;
    right: 300px;
    width: 0;
    height: 100%;
    margin-right: -300px;
    overflow-y: auto;
    background: #dddddd;
    transition: all 0.5s ease;
}

#sidebar-wrapper .btn-toggle {
    position: fixed;
    right: 0px;
    top: 60px;
    background-color: transparent;
    font-size: 70px;
    cursor: pointer;
    color: #999999;
    transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper .btn-toggle {
    right: 300px;
    transform: rotate(180deg);
}

#wrapper.toggled #sidebar-wrapper {
    width: 300px;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: 0px;
}


/* Sidebar Styles */

.sidebar-nav ul {
    list-style: circle;
    padding-left: 20px;
}

.sidebar-nav {
    position: absolute;
    top: 0;
    width: 300px;
    margin: 60px 0 0 0;
    padding: 0 0 0 5px;
    list-style: circle;
}

.sidebar-nav li {
    text-indent: 20px;
    line-height: 40px;
}

.sidebar-nav li a {
    display: flex;
    text-decoration: none;
    color: black;
    width: 100%;
    min-width: 295px;
    margin: 0;
}

.sidebar-nav li a>span {
    flex-grow: 1;
}

.sidebar-nav li a>i {
    display: none;
    flex-direction: column;
    justify-content: center;
    font-size: 20px;
}

.sidebar-nav li a>i:hover {
    color: #000;
}

.sidebar-nav li a>i.fa-times:hover {
    color: #cd2400;
}

.sidebar-nav li a:hover>i {
    display: flex;
}

.sidebar-nav li a:hover {
    text-decoration: none;
    color: #fff;
    background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
}

#sidebar-wrapper>.sidebar-brand {
    height: 60px;
    font-size: 20px;
    line-height: 60px;
    font-weight: bold;
    text-indent: 20px;
}


/* .sidebar-nav>.sidebar-brand a {
    color: #555555;
}

.sidebar-nav>.sidebar-brand a:hover {
    color: #fff;
    background: none;
} */

.sidebar-nav .child-wrapper {
    display: none;
}

.sidebar-nav .child-wrapper input {
    padding-left: 20px;
    margin-left: 20px;
}