html, body, .container-fluid {
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

/* Header */
header {
    height: 80px;
}

header .logo {
    height: 100%;
}

.search-bar {
    border-style: solid;
    border-width: 1px;
    color: #7e7e7e;
}

.search-bar i {
    height: 100%;
    font-size: 3em;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.search-bar input {
    font-size: x-large;
    background-color: transparent;
}

.search-bar input:focus {
    outline: none;
}

/* Filters */
.filter-holder>div>button{
    width: 18%;
    text-align: start;
}

.filter-holder .dropdown-menu {
    width: 50em;
}

.filter-holder .search-bar input, .filter-holder .search-bar::after{
    font-size: 1em;
}

.dictionary>span {
    margin-right: 8px;
    cursor: pointer;
}

.all-data span {
    margin-right: 12px;
    text-decoration: underline;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
}

.datetime-picker-holder {
    margin-bottom: 16px;
}

.date-picker>div, .time-picker>div {
    margin-bottom: 8px;
}

.date-picker>input, .time-picker>input {
    background-color: transparent;
    border-radius: 3px;
    border: 1px solid #7e7e7e;
}

.date-picker>input {
    background: url('../img/icon_calendar.png') no-repeat 6px 6px;
    padding-left: 28px;
}

.time-picker>input {
    background: url('../img/icon_alarm.png') no-repeat 6px 6px;
    padding-left: 28px;
}


.timebase>span, .timezone>span {
    padding-right: 8px;
}

.timebase>select, .timezone>select {
    background-color: transparent;
    border-radius: 3px;
    border-color: #7e7e7e;
}

.dropdown-custom>button {
    background-color: transparent;
    padding: 4px 12px;
    border: none;
    cursor: pointer;
    width: 100%;
    border: 1px solid #7e7e7e;
    border-radius: 3px;
    text-align: left;
}

.dropdown-custom>button::after{
    font-family: "FontAwesome";
    content: "\f0d7";
}
  
.dropdown-content>input {
    box-sizing: border-box;
    background-color: white;
    background-position: 14px 12px;
    padding: 12px;
    border: none;
    border-bottom: 1px solid #ddd;
    width: 100%;
}
  
.dropdown-content>input:focus {
    outline: 3px solid #ddd;
}

.dropdown-custom {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 230px;
    overflow: auto;
    border: 1px solid #ddd;
    z-index: 1;
    width: 100%;
}

.dropdown-content a {
    color: black;
    padding: 8px 12px;
    text-decoration: none;
    width: 100%;
    display: block;
}

.dropdown-custom a:hover {
    background-color: #ddd;
}

.extradata-holder>div>span{
    width: 150px;
}

/* Tags */
.tag {
    padding: 4px 0;
}

.tag > span {
    padding: 4px;
    margin-right: 4px;
}

.tag > span > i {
    padding-left: 8px;
    cursor: pointer;
}

.horizontal-line {
    height: 1px;
    color: #7e7e7e;
}

/* Results */
.result-holder {
    margin-left: -2px;
    margin-right: -2px;
    flex: 1;
    overflow: auto;
}

.result-holder>div>div, .result-holder>div>img{
    height: 100%;
}

.result-holder>div {
    padding: 2px;
}

.result-holder .action-button {
    margin: 2px;
    position: absolute;
    left: 0;
    top: 0;
    width: 1.5em;
    height: 1.5em;
    background-color: rgba(247, 247, 247, 0.5);
    border-radius: 50%;
    display: none;
    cursor: pointer;
}

.result-holder .action-button::before{
    font-family: "FontAwesome";
    content: "\f00c";
    border-style: solid;
    border-width: 1px;
    position: absolute;
    top: 0;
    left: 0;
    width: 1.5em;
    height: 1.5em;
    font-size: 1em;
    border-radius: 50%;
    vertical-align: middle;
    text-align: center;
    border-color: #7e7e7e;
}

.result-holder img {
    width: 100%;
    height: auto;
}

/* Footer */
footer {
    align-items: center;
}

.import-export img, .import-export span{
    display: inline-flex;
}

.import-export img {
    width: 28px;
    height: 36px;
}

.import-export > div{
    cursor: pointer;
}

.import-export span {
    align-items: center;
    padding-left: 4px;
}

.import-export {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Custom */
.custom-selected {
    font-weight: bold;
    font-size: 20px;
}

.custom-show {
    display: block !important;
}

.custom-hidden {
    display: none !important;
}