<div class="dropdown d-inline extradata-filter">
    <button class="btn btn-light dropdown-toggle border" id="categoryDropdownButton" data-toggle="dropdown"
        aria-haspopup="true" aria-expanded="false">Extra Data</button>
    <div class="dropdown-menu dropdown-menu-right p-2 ml-2" aria-labelledby="categoryDropdownButton">
        <div class="extradata-holder">
            {{#each extrafilters}}
            {{>filterextraitem extraitem=this}}
            <div class="horizontal-line my-2 bg-secondary"></div>
            {{/each}}
            {{!-- <div class="row m-0 extradata-heartrate">
                <div class="checkbox-custom">
                    <input type="checkbox" id="customCheckbox">
                    <label for="customCheckbox"></label>
                </div>
                <span>Heart rate</span>
                <input type="range" min="1" max="100" value="50" class="flex-grow-1 slider">
            </div> --}}
        </div>
    </div>
</div>